.link {
  text-decoration: none;
}

.link--buttonShowAll {
  color: #000;
  border: 1px solid #e8e8e1;
  background-color: transparent;
  border-radius: 0;
  padding: 10px 35px;
  letter-spacing: 0.2rem;
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.buttonLink--btnRed {
  background-color: #e20e18;
  border-color: #e20e18;
}

.link--btnCollectionCurrent {
  font-weight: 600;
  font-size: 18px;
  color: #ffffff;
  background-color: #e32013;
  padding: 0.8rem 2rem;
}

.link--btnCollectionPrevious {
  font-weight: 600;
  font-size: 18px;
  color: #ffffff;
  background-color: #666666;
  padding: 0.8rem 2rem;
}
