.sliderLayoutContainer {
  justify-content: center;
}

.sliderLayoutContainer--carousel {
  background-color: #f0f0f0;
  margin-bottom: 3rem;
}

.sliderTrackContainer {
  max-width: 100%;
}

.caretIcon--carousel {
  color: #fff;
}

.paginationDotsContainer {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  bottom: -2rem;
}

.paginationDot--isActive {
  background-color: #0f0f0f;
}

.layoutContainer--shelf {
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 96rem;
}

.slide--shelf {
  margin-bottom: 25px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
