.currencyDecimal,
.currencyFraction,
.productBrandName {
  display: none;
}

.price {
  width: fit-content;
}

.productName,
.productVariationsItem,
.price,
.productPriceCurrency {
  font-size: 14px;
  letter-spacing: 0.1rem;
}
