.currencyDecimal,
.currencyFraction,
.productPriceCurrency,
.productBrandName {
  display: none;
}

.productImage {
  width: 71px;
  height: 71px;
}

.price {
  width: fit-content;
}

.productName,
.productVariationsItem,
.price {
  font-size: 14px;
  letter-spacing: 0.1rem;
}
