:global(.vtex-flex-layout-0-x-flexRowContent--calzadoVideoContainer)
  .videoContainer {
  display: block;
  max-width: 720px;
  margin: 3rem auto;
}

:global(.vtex-flex-layout-0-x-flexRowContent--calzadoVideoContainer)
  .videoElement {
  height: 405px;
}

@media screen and (max-width: 768px) {
  :global(.vtex-flex-layout-0-x-flexRowContent--calzadoVideoContainer)
    .videoElement {
    height: 210px;
  }
}
