/* Home */

.flexRow--mainBanner,
.flexRow--breadcrumb {
  margin-top: 160px;
}

.flexRowContent--departments-cards {
  display: flex;
}

.flexCol--col--buttonShowAll {
  min-height: 41px;
}

/* Home */

/* PDP */

.flexColChild--productInfoContainer
  :global(.vtex-similar-products-variants-0-x-variants),
.flexColChild--productInfoContainer
  :global(.vtex-store-components-3-x-skuSelectorSubcontainer) {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flexColChild--productInfoContainer
  :global(.vtex-store-components-3-x-skuSelectorTextContainer) {
  text-align: center;
}

.flexColChild--productInfoContainer
  :global(.vtex-store-components-3-x-skuSelectorOptionsList) {
  justify-content: center;
}

.flexColChild--productInfoContainer
  :global(.vtex-similar-products-variants-0-x-title),
.flexColChild--productInfoContainer
  :global(.vtex-store-components-3-x-skuSelectorName) {
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #727273;
}

.flexColChild--productInfoContainer
  .flexColChild--atcContainer
  :global(.vtex-button) {
  width: 100%;
  background: #ec2128;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.2em;
  font-size: 0.75rem;
  line-height: 1.42;
  overflow: hidden;
  transition: 0.6s;
  padding: 16px 20px;
  border: 1px solid transparent;
}

.flexRowContent--priceContainerCustom {
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

/* PDP */

/* Footer */

.flexRow--footer-container--mobile {
  margin-bottom: 20px;
}

/* Footer */

/* Shelf */

.flexRowContent--productSkuSelectorContainer {
  flex-direction: column;
}

:global(.vtex-search-result-3-x-galleryItem) {
  position: relative;
}

.flexCol--productSkuSelector {
  display: none;
  height: fit-content;
  position: absolute;
  bottom: 11rem;
}

.flexCol--summaryLef {
  align-items: flex-start;
}

/* Shelf */

/* Modal Newsleter */

.flexRow--container-form {
  max-width: 824px;
  background-color: #fff;
}

.flexRow--container-form :global(.vtex-store-components-3-x-container) {
  padding: 0;
}

.flexColChild--container-form__inputs {
  padding: 22px 33px 37px 27px;
}

.flexColChild--container-form__inputs :global(.vtex-input__label) {
  font-size: 16px;
  font-weight: 700;
  color: #000;
  margin-top: 8px;
}

.flexColChild--container-form__inputs :global(.vtex-dropdown__label) {
  font-size: 16px;
  font-weight: 700;
  color: #000;
  margin-top: 8px;
}

.flexColChild--container-form__inputs :global(.vtex-button) {
  width: 100%;
  height: 60px;
  border-radius: 0;
  background-color: #000;
  border: 1px solid #000;
  font-weight: 700;
  font-size: 14px;
}

.flexColChild--container-form__inputs :global(.vtex-checkbox__line-container) {
  font-weight: 300;
  font-size: 12px;
  color: #000;
  margin: 28px 0 10px;
}

.flexColChild--container-form__inputs :global(.vtex-button) {
  width: 100%;
  height: 60px;
  border-radius: 0;
  background-color: #000;
}

/* Modal Newsleter */

/* Departamento */

.flexRow--departmentHead {
  margin-top: 160px;
}

.flexRow--departmentHead
  :global(.vtex-rich-text-0-x-container--departmentHead-text) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.9rem;
  color: #fff;
}

.flexRowContent--departmentHead {
  display: flex;
  flex-direction: column;
  position: relative;
}

.flexColChild--categoriesInDepartment :global(.vtex-store-link-0-x-link) {
  font-size: 0.8rem;
  letter-spacing: 0.2rem;
  color: #0f0f0f;
  text-transform: uppercase;
  text-decoration: underline;
}

/* Departamento */

/* Pages */

.flexRow--titleFootwearContainer {
  margin-top: 160px;
}

.flexRow--titleGuideSizeContainer {
  padding: 0 2rem;
}

.flexRow--titleFootwearContainer :global(.vtex-rich-text-0-x-headingLevel1),
.flexRow--titleGuideSizeContainer :global(.vtex-rich-text-0-x-headingLevel2) {
  letter-spacing: 0.2rem;
  margin-bottom: 0;
}

.flexRow--titleFootwearContainer :global(.vtex-rich-text-0-x-paragraph),
.flexRow--titleGuideSizeContainer :global(.vtex-rich-text-0-x-paragraph) {
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
}

.flexRowContent--sizeGuideContainer,
.flexRow--highlightsSliderContainer {
  padding: 0 2rem;
}

.flexCol--ContainerPrice {
  flex-direction: row;
  justify-content: space-between;
}

.flexRow--highlightsSliderContainer
  :global(.vtex-store-components-3-x-container) {
  border: 16px solid darkgrey;
}

.flexRow--highlightsSliderContainer :global(.vtex-rich-text-0-x-wrapper) {
  padding: 0 2.5rem;
}

.flexRow--highlightsSliderContainer :global(.vtex-rich-text-0-x-headingLevel3),
.flexRow--highlightsSliderContainer :global(.vtex-rich-text-0-x-headingLevel2) {
  margin-bottom: 0;
  margin-top: 0.5rem;
}

.flexRow--highlightsSliderContainer :global(.vtex-rich-text-0-x-headingLevel3) {
  font-size: 1.25rem;
  font-weight: 400;
}

.flexRow--highlightsSliderContainer :global(.vtex-rich-text-0-x-headingLevel2) {
  font-size: 1.5rem;
  font-weight: 500;
}

.flexRowContent--whoWearContainer {
  flex-direction: column;
}

.flexRowContent--whoWearContainer :global(.vtex-rich-text-0-x-headingLevel2) {
  color: #fff;
  letter-spacing: 0.1rem;
}

.flexRowContent--whoWearContainer :global(.vtex-product-summary-2-x-element) {
  background-color: #fff;
  padding: 1rem;
}

.flexRowContent--whoWearContainer :global(.vtex-product-summary-2-x-container) {
  border-radius: 0;
}

.flexRowContent--whoWearBottom {
  justify-content: space-evenly;
}

.flexColChild--whoWearImage {
  margin-right: 13rem;
}

.flexRow--whoWearContainer {
  background-color: #282a2b;
  padding: 2rem;
}

.flexCol--whoWearColCenter :global(.vtex-rich-text-0-x-wrapper) {
  max-width: 900px;
  color: #fff;
}

.flexRow--mainBannerSantaFe {
  margin-top: 160px;
  background-image: url("assets/img/santaFe/bg-santafe.webp");
  min-height: 550px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center -25px;
  background-size: cover;
  image-rendering: -webkit-optimize-contrast;
}

.flexRowContent--mainTitleSantaFe {
  flex-direction: column;
  align-items: center;
}

.flexRowContent--btnCollectionTeams {
  gap: 6rem;
}

/* Pages */

/* Mincart */

.flexRow--minicart-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.flexRow--minicart-product-list {
  overflow-y: auto;
  max-height: calc(100% - 429px);
}

.flexRow--product-list {
  margin-top: 1rem;
}
.flexRow--product-list:last-child {
  margin-bottom: 1.5rem;
}

.flexRowContent--product-list {
  gap: 0.5rem;
}

/* Mincart */

/* Responsive */

/* Home */

@media screen and (max-width: 628px) {
  .flexRowContent--departments-cards {
    flex-direction: column;
    row-gap: 1rem;
  }
}

@media screen and (max-width: 1025px) {
  .flexRow--mainBanner {
    margin-top: 144px;
  }
}

/* Home */

/* Newsletter */

@media (max-width: 767px) {
  .flexRow--container-form {
    display: flex;
    flex-direction: column;
  }

  .flexColChild--container-form__inputs {
    padding: 0;
  }

  .flexRow--container-form {
    max-height: fit-content;
  }

  .flexCol--container-form__image {
    display: none;
  }
}

/* Newsletter */

/* Departamento */

@media (max-width: 767px) {
  .flexRow--departmentHead
    :global(.vtex-rich-text-0-x-container--departmentHead-text) {
    width: 100%;
    justify-content: center;
    font-size: 1.4rem;
  }
}

/* Departamento */

/* PDP */

@media (max-width: 767px) {
  .flexRow--buyContainer {
    position: fixed;
    width: 100%;
    height: auto;
    left: 0;
    bottom: 0;
    padding: 0 1rem;
    z-index: 1;
    background-color: white;
  }

  .flexRowContent--buyContainer {
    justify-content: space-between;
    gap: 3rem;
  }
}

/* PDP */

/* Pages */

@media (max-width: 767px) {
  .flexRow--titleGuideSizeContainer {
    margin-top: 3rem;
  }

  .flexRow--titleFootwearContainer :global(.vtex-rich-text-0-x-headingLevel1),
  .flexRow--titleGuideSizeContainer :global(.vtex-rich-text-0-x-headingLevel2) {
    font-size: 1.75rem;
    margin: 0;
  }

  .flexRow--titleFootwearContainer :global(.vtex-rich-text-0-x-wrapper),
  .flexRow--titleGuideSizeContainer :global(.vtex-rich-text-0-x-wrapper) {
    padding: 0 1rem;
    text-align: center;
  }

  .flexRow--titleFootwearContainer :global(.vtex-rich-text-0-x-paragraph),
  .flexRow--titleGuideSizeContainer :global(.vtex-rich-text-0-x-paragraph) {
    font-size: 0.8rem;
  }

  .flexRow--titleGuideSizeContainer :global(.vtex-rich-text-0-x-container) {
    justify-content: center;
  }

  .flexRow--highlightsSliderContainer {
    padding: 0;
  }

  .flexRowContent--highlightsSliderContainer
    :global(.vtex-rich-text-0-x-container) {
    justify-content: center;
    margin-top: 1rem;
    text-align: center;
  }

  .flexRowContent--whoWearContainer :global(.vtex-rich-text-0-x-headingLevel2) {
    font-size: 1.3rem;
  }

  .flexColChild--whoWearImage {
    margin-right: 0;
    margin: 0 auto;
    max-width: 60%;
  }

  .flexRow--mainBannerSantaFe {
    margin-top: 8rem;
    min-height: 200px;
    background-position: center 120px;
    background-size: contain;
  }
}

/* Pages */

/* Responsive */
