/* SKU selector */

.skuSelectorContainer--quickview .skuSelectorItemImage .frameAround,
.skuSelectorContainer--quickview .skuSelectorItemImage .skuSelectorInternalBox {
  border-radius: 50%;
}

:global(.vtex-store-components-3-x-frameAround),
:global(.vtex-store-components-3-x-skuSelectorInternalBox) {
  border-radius: 0;
  border: 0;
}

:global(.vtex-store-components-3-x-skuSelectorItem) {
  width: 80px;
  height: 40px;
  min-width: 48px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

:global(.vtex-store-components-3-x-skuSelectorItemTextValue) {
  font-size: 1.1rem;
}

:global(.vtex-store-components-3-x-skuSelectorInternalBox):hover,
:global(.vtex-store-components-3-x-skuSelectorItem):hover,
:global(.vtex-store-components-3-x-skuSelectorItem--selected) {
  border-color: #211915;
}

:global(.vtex-store-components-3-x-skuSelectorItem--selected) {
  background-color: #e8e8e1;
}

:global(.vtex-product-summary-2-x-container)
  :global(.vtex-store-components-3-x-skuSelectorName),
:global(.vtex-slider-layout-0-x-sliderLayoutContainer--shelf)
  :global(.vtex-store-components-3-x-skuSelectorName) {
  display: none;
}

:global(.vtex-slider-layout-0-x-sliderLayoutContainer--shelf)
  :global(.vtex-store-components-3-x-skuSelectorNameContainer),
:global(.vtex-product-summary-2-x-container)
  :global(.vtex-store-components-3-x-skuSelectorNameContainer) {
  margin: 0 auto;
  z-index: 3;
  max-width: 100%;
}

/* Shelf */

:global(.vtex-slider-layout-0-x-slideChildrenContainer--shelf):hover
  :global(.vtex-flex-layout-0-x-flexCol--productSkuSelector),
:global(.vtex-product-summary-2-x-container):hover
  :global(.vtex-flex-layout-0-x-flexCol--productSkuSelector) {
  display: flex;
}

:global(.vtex-product-summary-2-x-container) .skuSelectorContainer,
:global(.vtex-slider-layout-0-x-sliderLayoutContainer--shelf)
  .skuSelectorContainer {
  margin: 0;
}

:global(.vtex-product-summary-2-x-container)
  :global(.vtex-store-components-3-x-skuSelectorSubcontainer),
:global(.vtex-slider-layout-0-x-sliderLayoutContainer--shelf)
  :global(.vtex-store-components-3-x-skuSelectorSubcontainer) {
  margin: 0;
}

:global(.vtex-product-summary-2-x-container)
  :global(.vtex-store-components-3-x-skuSelectorOptionsList),
:global(.vtex-slider-layout-0-x-sliderLayoutContainer--shelf)
  :global(.vtex-store-components-3-x-skuSelectorOptionsList) {
  margin: 0;
  flex-wrap: nowrap;
  background-color: white;
  border: 1px solid black;
}

:global(.vtex-product-summary-2-x-container)
  :global(.vtex-store-components-3-x-skuSelectorOptionsList) {
  overflow: auto;
}

:global(.vtex-product-summary-2-x-container)
  :global(.vtex-store-components-3-x-skuSelectorItem),
:global(.vtex-slider-layout-0-x-sliderLayoutContainer--shelf)
  :global(.vtex-store-components-3-x-skuSelectorItem) {
  border: none;
  width: auto;
}

:global(.vtex-product-summary-2-x-container)
  :global(.vtex-store-components-3-x-skuSelectorItem):hover,
:global(.vtex-slider-layout-0-x-sliderLayoutContainer--shelf)
  :global(.vtex-store-components-3-x-skuSelectorItem):hover {
  background-color: #e8e8e1;
}

.imageContainer:hover .image--hover {
  z-index: 2;
}

.containerNormal :global(.vtex-button) {
  display: none;
}

.containerNormal:hover :global(.vtex-button) {
  display: block;
  animation: scale-up-center 0.4s;
}

.currencyDecimal,
.currencyFraction {
  display: none;
}

.priceContainer {
  padding: 0;
  align-items: flex-start;
}

.column {
  flex-direction: column;
  align-items: flex-start;
}

@keyframes scale-up-center {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

/* Shelf */

/* SKU selector */

.nameContainer {
  justify-content: start;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.brandName {
  font-size: 14px;
  letter-spacing: 0.2rem;
  text-transform: capitalize;
  color: #0f0f0f;
  line-height: 18px;
  min-height: 54px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.container {
  height: auto;
  text-align: start;
}

.element,
.clearLink {
  height: auto;
  position: relative;
}

/* Responsive */

/* Shelf */
@media screen and (max-width: 1200px) {
  :global(.vtex-store-components-3-x-skuSelectorItemTextValue) {
    padding: 0;
  }

  :global(.vtex-slider-layout-0-x-slideChildrenContainer--shelf):hover
    :global(.vtex-flex-layout-0-x-flexCol--productSkuSelector),
  :global(.vtex-product-summary-2-x-container):hover
    :global(.vtex-flex-layout-0-x-flexCol--productSkuSelector) {
    display: none;
  }
}

/* Shelf */

/* Responsive */
