/* Home */

.container--shelfTitle {
  padding: 0 40px;
  justify-content: center;
  text-align: center;
}

.container--shelfTitle--border-top {
  margin-top: 5rem;
  border-top: 1px solid #e6e6e6;
}

.headingLevel2--shelfTitle {
  font-size: 2rem;
  font-weight: 400;
  color: #000;
}

/* Home */

/* Departamento */

.paragraph--departmentHead-text {
  padding: 0 0.2rem;
  line-height: 2rem;
  background: rgba(0, 0, 0, 0.1);
}

/* Departamento */

/* Footer */

:global(.vtex-store-footer-2-x-footerLayout) .paragraph--footer-title {
  font-size: 0.8rem;
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: 10px;
  padding-left: 15px;
  cursor: auto;
  letter-spacing: 0.2em;
}

:global(.vtex-store-footer-2-x-footerLayout) .container--sub-title {
  margin-top: 1rem;
}

:global(.vtex-store-footer-2-x-footerLayout) .paragraph--sub-title {
  margin-bottom: 0;
}

:global(.vtex-store-footer-2-x-footerLayout) .container--sub-title,
:global(.vtex-store-footer-2-x-footerLayout) .container--text-sub-title {
  font-size: 0.8rem;
  padding-left: 15px;
}

:global(.vtex-store-footer-2-x-footerLayout) .link--text-sub-title {
  color: #0f0f0f;
  text-decoration: none;
}

:global(.vtex-store-footer-2-x-footerLayout) .wrapper--social-networks {
  font-size: 0.9rem;
  text-align: center;
  letter-spacing: 0.2em;
  margin-top: 1rem;
}

:global(.vtex-store-footer-2-x-footerLayout) .paragraph--powered-by {
  font-size: 0.8rem;
  letter-spacing: 0.1em;
}

/* Footer */

/* Pages */

.paragraph--whoWearText {
  font-weight: 200;
  font-size: 1.12rem;
  line-height: 157.47%;
  text-align: center;
  letter-spacing: 0.09em;
  color: #ffffff;
}

/* Pages */

/* Responsive */

/* Footer */

@media screen and (max-width: 1024px) {
  :global(.vtex-store-footer-2-x-footerLayout) .paragraph--powered-by {
    font-size: 0.6rem;
  }

  :global(.vtex-store-footer-2-x-footerLayout) .container--sub-title,
  :global(.vtex-store-footer-2-x-footerLayout) .container--text-sub-title {
    font-size: 0.7rem;
    text-align: center;
    justify-content: center;
  }

  :global(.vtex-store-footer-2-x-footerLayout) .wrapper--social-networks {
    margin-top: 4rem;
  }
}

/* Footer */

/* Pages */

@media screen and (max-width: 1024px) {
  .paragraph--whoWearText {
    font-size: 0.7rem;
  }

  .wrapper--whoWearText {
    margin: 1rem 0;
  }
}

/* Pages */

/* Responsive */
