.notificationBarContainer {
  background-color: #e6f1e6;
  color: #03034e;
  font-weight: 700;
  font-size: 12px;
  text-decoration: underline;
}

/* Home */

.infoCardContainer--card-department {
  height: 435px;
  margin: 0 auto;
  padding: 0px;
}

.imageElement--footer-payment-image {
  filter: grayscale(1);
}

.searchBarContainer {
  width: 90%;
  padding: 0;
  margin: 0 auto 20px;
}

/* Home */

/* PDP */

.productNameContainer {
  font-size: 1.8rem;
  letter-spacing: 0.2rem;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: #3f3f40;
}

.swiperCaret {
  color: #000;
}

.skuSelectorContainer {
  margin-bottom: 1rem;
}
/* PDP */

/* Shelf */

.discountInsideContainer {
  background-color: #000;
}

.priceContainer {
  flex-direction: row;
}

/* Shelf */

/* Pages */

.imageElement--cardImage {
  display: block;
  margin: auto;
}

.imageElement--cardImage:nth-child(n + 2) {
  margin-top: 1rem;
}

/* Pages */

/* Responsive */

/* Home */

@media screen and (max-width: 768px) {
  .infoCardContainer--card-department {
    height: 200px;
    background-position: top;
  }
}

/* Home */

/* PDP */

@media screen and (max-width: 768px) {
  .productNameContainer {
    font-size: 1.2rem;
  }
}

/* PDP */

/* Responsive */
